* {
    margin: 0;
    padding: 0;
    color: #494947;
}

#wrapper {
    max-width: 1200px;
    width: 100%;
    min-width: 300px;
    margin: 0 auto;
}

header, article, footer {padding: 10px;}

header {background: #35ff69;}

header h1 {
    font-weight: 300;
    size: 1.2em;
}

nav {
    background: #44ccff;
    padding: 5px 10px;
}

nav li {
    list-style-type: none;
}

/*nav li {*/
/*    border: 1px solid #494947;*/
/*    margin: 2px 5px;*/
/*    padding: 2px 5px;*/
/*}*/

/*nav li:hover {*/
/*    background: #7494ea;*/
/*    color: #fff;*/
/*}*/


footer {
    background: #494947;
    color: #fff;
    clear: both;
    text-align: center;
}

table {
    width: 100%;
    border: 1px solid #000;
}

table tr {
    border-bottom: 1px solid #000;
}

table tr:nth-child(even) {
    background: lightgrey;
}

@media screen and (min-width: 700px) {
    .groupe {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden;
    }
    
    nav {
        float: left;
        width: 15em;
    }
    
    section {
        background: #eee;
        float: left;
        flex: 1;
    }
}